# PYTHON ENVIRONMENT
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
.venv/

# JUPYTER / NOTEBOOKS
.ipynb_checkpoints/
*.ipynb

# DATA FILES
data_lake/raw/
data_lake/processed/
*.csv
*.parquet

# DOCKER / TEMP
*.log
*.pid
*.db
*.sqlite3

# SYSTEM FILES / OS
.DS_Store
Thumbs.db