# Python virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Data lake & outputs (opcional, si usas datos pesados)
data_lake/raw/